.link {
    font-size: 16pt;
    margin: auto;
    color: white;
}

.menu {
    width: 40%;
    text-align: center;
    display: flex;
    margin: 0 auto;
}

.menu-block {
    background-color: #1890ff;
    padding: 10px;
}

.input {
    margin: 10px auto;
    width: 400px;
    height: 40px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #1890ff;
    text-align: center;
    font-size: 12pt;
    display: block !important;
}

.input:focus {
    outline: none;
    border: 2px solid #1890ff;
}

.form {
    margin: 10px;
}

h1 {
    margin: 0 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    color: darkblue !important;
}

.page {
    margin: 20px;
}
.linkButton {
    font-size: 16pt;
    margin: auto;
    color: white;
    background:none!important;
    border:none; 
    cursor: pointer;
    transition: color 0.3s;
}
.linkButton:hover {
    color: #22a6ff;
}
.linkButton:active {
    color: #1672af;
}

.error {
    display: inline;
    font-size: 14pt;
    color: brown;
    font-weight: bold;
}
.authForm {
    text-align: center;
}